* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* Header style starts here */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 3%;
    background-color: rgba(233,233,233,255);
    color: white;
    position: sticky;
    top: 0;
    z-index: 9999;
}



.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 90%;
}

.menu a:hover {
    color: #3e8e41;
}

.menu a:active {
    color: #3e8e41;
}

li {
    max-width: fit-content;
    list-style-type: none;
}

.sideline {
    color: grey;
    margin: auto 5px;
}

/* Style for dropdown menu */

.dropdown-button {
    background-color: rgba(233,233,233,255);
    color: black;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 90%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(233,233,233,255);
    padding: 6px 16px;
    display: none;
    width: 13%;
    height: 250px;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
}

.dropdown-menu li {
    margin: 23px auto;
}

.dropdown-menu a {
    text-decoration: none;
    color: #333;
}

.dropdown-button:focus + .dropdown-menu {
    display: block;
}

.dropdown :active {
    display: block;
}

.dropdown-button:hover {
    color: #3e8e41;
}

.dropdown-menu li:hover {
    color: #3e8e41;
}

/* Style for hamburger */

.hamburger {
    position: relative;
    display: inline-block;
}

.hamburger-button {
    display: none;
    background: none;
    color: black;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

.hamburger-button :active{
    color: green;
}

.hamburger-button p {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 10%;
}

.hamburger-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1% 0;
    width: 200px;
    display: none;
}

.hamburger-menu li {
    margin-bottom: 12px;
}

.hamburger-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 90%;
}

.hamburger-menu li :hover {
    color: #3e8e41;
    padding: 10px 0;
    overflow: hidden;
}



@media only screen and (max-width: 950px) {
    .menu {
        display: none;
    }

    .hamburger-button {
        display: flex;
        align-items: center;
    }

    .hamburger-menu {
        position: absolute;
        top: 100%;
        left: -30%;
        background-color: rgba(233,233,233,255);
        padding: 10px 16px;
        display: none;
        width: max-content;
        height: max-content;
        justify-content: space-between;
        border-bottom-right-radius: 10px;
        overflow: hidden;
    }
    
    @media screen and (max-width: 740px) {
        .hamburger-menu {
            left: -20%;
        }
    }
    
    .hamburger-menu li {
        margin: 23px auto;
    }
    
    .hamburger-menu a {
        text-decoration: none;
        color: #333;
        text-transform: uppercase;
    }
    
    .hamburger-button:focus + .hamburger-menu {
        display: block;
    }
    
    
    .hamburger-button:hover {
        color: #3e8e41;
    }
    
    .hamburger-menu li:hover {
        color: #3e8e41;
    }
}

/* Header style ends here */

/* Whatsapp Button */

.whatsapp-button {
    position: fixed;
    bottom: 60px;
    right: 15px;
    background-color: #18bb53;
    color: #fff;
    padding: 0.5% 0.8%;
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    box-shadow: #0000003a 4px 4px 8px;
}

/* Footer style starts here */

.footer {
    padding: 20px;
    bottom: 0;
}

.footer p {
    font-size: 12px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

.footer p :nth-child(1) {
    font-weight: 500;
}

.footer p :nth-child(2) {
    color: red;
}

/* Footer style ends here */

.hero {
    background: url('https://img.freepik.com/free-photo/industrial-designers-working-3d-model_23-2149370169.jpg?uid=R63328520&ga=GA1.1.1370676899.1722375250&semt=ais_hybrid/1200x600') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: rgb(219, 219, 219);
    
}

.hero-text{
    background-color: rgba(0, 0, 0, 0.6); 
    background: semi-transparent black;
    margin: 0 auto;
    margin-top: 250px;
    padding: 40px;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 40%;
    border-top: 5px solid rgb(109, 3, 125);
    max-width: 700px;
}

.hero-text h1 {
    font-size: 2.0rem;
    color: rgb(14, 205, 29);
    margin-top: 10px;
    margin-left: 10px ;
}

.hero-text p{
    margin-left: 10px ;
    margin-bottom: 15px;
}

.hero button{
    padding: 9px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid rgb(14, 205, 29);
    border-radius: 20px;
    margin-left: 275px;
    margin-top: 10px;
    font-weight: 600;
}

.readmore-button { 
    text-decoration: none;
    color: rgb(198, 1, 1);
    margin-left: 250px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}
  
.readmore-button a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.readmore-button:hover {
     background-color: rgb(14, 205, 29); 
     color: white;
    transform: scale(1) 
}
 
/* Index page start here  */

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
  }
  
  
  .intro-text {
    max-width: 500px;
  }
  
  .intro-text h1 {
    margin-top: 20px;
    font-size: 36px;
    margin-bottom: 20px;
    color: #000000;
  }
  
  .intro-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #000000;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: rgb(3, 125, 9);
    box-shadow: rgba(0, 0, 0, 0.211) 4px 4px 8px  ;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 100px;
    border-style: dotted;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: rgb(109, 3, 125);
    
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .service-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .service-card:hover {
    transform: scale(1.05);
  }
  
  .service-card img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
  
  .service-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .service-card p {
    font-size: 14px;
    color: #777;
  }

/* Style for contact us page starts here */
#contact {
    background-image: url(/images/background-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: content-box;
    }
    
    #contact h1{
        font-family: 'Times New Roman', Times, serif;
        font-size: 80px;
        color: #000;
        text-align: center;
        padding: 165px;
        text-shadow: 1px 1px 0 black;
    }
    
    #contact p  {
        margin: 50px 0 30px 5px;
        font-weight: bold;
    } 
    
    #contact a {
        color: #000;
        font-size: 30px;
    }
    
    #contact a:hover{
        color: #ccc;
    }

.contact-container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #f1f1f1;
}

#link  {
    text-decoration: none;
    color: #800080;
}

#link:hover{ 
        background-color: #800080;
        color: #fff;
    }   
 


.contact-form {
    width: 45%;
    padding: 20px;
    box-shadow: 5px 5px  10px #000;
    border-radius: 5px;
    background-color: rgb(5, 242, 234);
}

.contact-info {
    width: 45%;
    padding: 20px;
    background: linear-gradient(to left, purple 0%, rgb(5, 242, 234));
    box-shadow: 10px 10px  15px #000;
    border-radius: 5px;
    height: fit-content;
}

.contact-form h2,
.contact-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    background: linear-gradient(to left, purple 0%,rgb(5, 242, 234));
    color: white;
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info p {
    margin-bottom: 10px;
    color: #333;
}

.contact-info fieldset {
    border-left: transparent;
    border-right: transparent;
}

#link3 {
    color: #fff;
}

#link:hover3 {
    color: #fff;
    background-color: #18bb53;
}

 @media (max-width: 1024px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
} 

.contact-form, .contact-info { 
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .contact-form, .contact-info {
        width: 100%;
    }

    .contact-form input, .contact-form textarea {
        font-size: 1rem;
    }

    .contact-info p {
        font-size: 0.9rem;
    }

    #contact h1 {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    .contact-container {
        padding: 10px;
    }

    .contact-form, .contact-info {
        width: 100%;
    }

    .contact-form input, .contact-form textarea {
        font-size: 0.9rem;
    }

    .contact-info {
        text-align: center;
    }

    #contact h1 {
        font-size: 50px;
    }
}
/* Style for contact us page ends here */



/* Style for Programs page start here */
#programs {
    background-image: url(/images/bp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: content-box;
}

#programs h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    color: #fff;
    text-align: center;
    padding: 165px;
    text-shadow: 3px 3px 0 black;
} 
.program-grid a:hover {
    background-color: #800080;
    color: #fff;
}

  /* Program Grid Layout */
.program-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    margin: 60px auto;
    /* background: linear-gradient(to left, purple 0%, rgb(5, 242, 234)); */
}
  
.program-card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.187);
    transition: transform 0.3s;
}
  
.program-card:hover {
    transform: scale(1.05);
}
  
.program-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.card-content {
    margin:40% 0;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);

}
  
.card-content h3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 3px 3px 0 black;
 }
  
.card-content a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
  
  /* Media Query  */
@media (max-width: 768px) {
    .program-grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
}
  
#programs h1 {
    font-size: 40px;
}
    .card-content h3 {
      font-size: 1em;
    }
}
  
 @media (max-width: 480px) {
    .program-grid {
      grid-template-columns:(1, 1fr);
      gap: 10px;
    }
  
    #programs h1 {
        font-size: 40px;
    }

    .card-content h3 {
      font-size: 0.9em;
    }
}
/* Style for Programs page ends here */


/* Style for Activities page starts here */

.top-section {
    background-color: rgba(0,32,80,255);
    height: 60vh;
    top: 0;
    padding: 40px;
    align-content: end;
}

.top-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.top-div-title {
    font-size: 70px;
    margin: 10px 0;
    font-family: serif;
    color: white;
}

.top-div-path {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

.top-div-path a, .top-div-path p {
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.top-div-path a:hover {
    color: rgb(92, 81, 81);
}

.top-div-path :nth-child(2) {
    margin: 0 7px;
    color: grey;
}

.activities-text-title {
    font-size: 45px;
    color: rgba(22,82,127,255);
    font-weight: 500;
    font-family: Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    padding: 0 3px;
}

.activities-text-under {
    color: grey;
    font-size: 14px;
    font-family: Arial, sans-serif;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
}

.mid-section {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid-section img {
    padding: 70px 20px;
}

.activities-flexdiv-1 {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.activities-flexdiv-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities-flexdiv-2-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 25px;
    background-color: #f4f8fb;
    margin: 10px;
    width: 22.5vw;
}

.activities-flexdiv-2-container a {
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    font-family: sans-serif;
    color: black;
    width: max-content;
    text-decoration: none;
    border-bottom: 2px solid rgba(131,70,145,255);
}

.activities-flexdiv-2-container:hover {
    background-color: rgba(131,70,145,255);
    color: #f4f8fb !important;
    transition: ease-in-out 0.3s;
}

.activities-flexdiv-2-container:hover p {
    color: #f4f8fb !important;
}

.activities-flexdiv-2-container:hover a {
    color: #f4f8fb !important;
    text-decoration: none;
}

.act-01 {
    top: 0;
    height: 40vh;
}

.act-01 :first-child {
    word-spacing: 15px;
}

.act-02 {
    height: 33vh;
    align-content: center;
}

.act-03 {
    top: 0;
    height: 33vh;
}

.act-04 {
    height: 40vh;
}

.activities-flexdiv-2-container-title {
    font-size: 39px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgba(131,70,145,255);
    font-family: sans-serif;
}

.activities-flexdiv-2-container-nt {
    font-size: 14px;
    line-height: 20px;
    font-family: sans-serif;
    color: #8f877f;
}

/* Style for Activities page ends here */

/* Style Girls in tech page starts here  */
#h1 {
    text-align: center;
    color: #000;
    background-color: #fcfdfe2d;
    font-size: 40px;
    margin-top: 10px;
}
.container {
    background-image: url(/images/girls-in-tech.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfdfeab;
    margin: 10px 5px;
    padding: 10px; 
}
  /* Text content styling */
.text-content {
    flex: 1;
    padding: 0px 10px;
}

.text-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.text-content p {
    font-size: 16px;
    line-height: 1.5;
}
  
  /* Slideshow container styling */
.slideshow {
    flex: 1;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
} 
.slideshow h2{
    text-align: center;
    margin-bottom: 5px;
}
.slides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto; /* 100% * number of images */
    animation: slide-animation 30s infinite;
} 

   /* Keyframes for the slideshow */
@keyframes slide-animation {
    0% { transform: translateX(0); }
    16.67% { transform: translateX(0); }
    
    16.68% { transform: translateX(-100%); }
    33.34% { transform: translateX(-100%); }
    
    33.35% { transform: translateX(-200%); }
    50.01% { transform: translateX(-200%); }
    
    50.02% { transform: translateX(-300%); }
    66.68% { transform: translateX(-300%); }
    
    66.69% { transform: translateX(-400%); }
    83.35% { transform: translateX(-400%); }
    
    83.36% { transform: translateX(-500%); }
    100% { transform: translateX(-500%); }
} 

.content-container3 {
    background-color: #fcfdfeab;
    box-sizing: content-box;
    width: 700px;
}

.content-container3 img{
    width: 100%;
}
.content-container3 h2{
    text-align: center;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3s;
}

   /* Media Query  */
@media (max-width: 786px) {
    .content-container{
        display: block;
        text-align: center;
        width: 100%;
    }
    .text-content{
        width: 100%;
        margin-bottom: 10px;
    }
}
  /* Style Girls in tech page ends here  */
  /* Style for Digital citizenship starts here */
  .head_1 {
    justify-items: center;
    background-image: url(/images/DIGIT.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    color: white;
    text-shadow: 3px 3px 0 black;
    font-size: 60px;
}
.our {
    margin-top: 50px;
}
.our a {
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 0 black;
}
.our a:hover {
    color: rgba(180, 246, 180, 0.58);
}
.emb {
    justify-items: center;
    margin-top: 20px;
}
.cont {
    position: relative;
    display: flex;
    align-self: center;
    width: auto;
    height: 300px;
    margin-top: 20px;
}
.tex {
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    width: 82%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.cont img {
    width: 82%;
    height: 100%;
    background-color: white;
    margin-left: 11%;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}
.cont:hover .tex {
    opacity: 1;
}
.cont:hover img {
    opacity: 0;
    transform: scale(1.1);
}
@media screen and (max-width: 900px) {
    .cont img{
    width: 85%;
    height: 100%;
    margin-left: 12%;
}
.tex {
    margin-left: 12%;
}
.head_1 {
font-size: 30px;
}
}
 /* Style for Digital citizenship ends here */