* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 3%;
    background-color: rgba(15, 15, 15, 0.9);
    color: white;
    position: sticky;
    top: 0;
    z-index: 9999;
}

/* header img {
    width: 300px;
} */

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

li {
    max-width: fit-content;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 90%;
}

.sideline {
    color: grey;
    margin: auto 5px;
}