* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* Header style starts here */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 3%;
    background-color: rgba(233,233,233,255);
    color: white;
    position: sticky;
    top: 0;
    z-index: 9999;
}



.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 90%;
}

.menu a:hover {
    color: #3e8e41;
}

.menu a:active {
    color: #3e8e41;
}

li {
    max-width: fit-content;
    list-style-type: none;
}

.sideline {
    color: grey;
    margin: auto 5px;
}

/* Style for dropdown menu */

.dropdown-button {
    background-color: rgba(233,233,233,255);
    color: black;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 90%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(233,233,233,255);
    padding: 6px 16px;
    display: none;
    width: 13%;
    height: 250px;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
}

.dropdown-menu li {
    margin: 23px auto;
}

.dropdown-menu a {
    text-decoration: none;
    color: #333;
}

.dropdown-button:focus + .dropdown-menu {
    display: block;
  }

.dropdown :active {
    display: block;
}

.dropdown-button:hover {
    color: #3e8e41;
}

.dropdown-menu li:hover {
    color: #3e8e41;
}

/* Style for hamburger */

.hamburger {
    position: relative;
    display: inline-block;
}

.hamburger-button {
    display: none;
    background: none;
    color: black;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

.hamburger-button :active{
    color: green;
}

.hamburger-button p {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 10%;
}

.hamburger-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1% 0;
    width: 200px;
    display: none;
}

.hamburger-menu li {
    margin-bottom: 12px;
}

.hamburger-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 90%;
}

.hamburger-menu li :hover {
    color: #3e8e41;
    padding: 10px 0;
    overflow: hidden;
}



@media only screen and (max-width: 950px) {
    .menu {
        display: none;
    }

    .hamburger-button {
        display: flex;
        align-items: center;
    }

    .hamburger-menu {
        position: absolute;
        top: 100%;
        left: -30%;
        background-color: rgba(233,233,233,255);
        padding: 10px 16px;
        display: none;
        width: max-content;
        height: max-content;
        justify-content: space-between;
        border-bottom-right-radius: 10px;
        overflow: hidden;
    }
    
    @media screen and (max-width: 740px) {
        .hamburger-menu {
            left: -20%;
        }
    }
    
    .hamburger-menu li {
        margin: 23px auto;
    }
    
    .hamburger-menu a {
        text-decoration: none;
        color: #333;
        text-transform: uppercase;
    }
    
    .hamburger-button:focus + .hamburger-menu {
        display: block;
      }
    
    
    .hamburger-button:hover {
        color: #3e8e41;
    }
    
    .hamburger-menu li:hover {
        color: #3e8e41;
    }
}

/* Header style ends here */

.hero {
    background: url('https://img.freepik.com/free-photo/industrial-designers-working-3d-model_23-2149370169.jpg?uid=R63328520&ga=GA1.1.1370676899.1722375250&semt=ais_hybrid/1200x600') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: rgb(219, 219, 219);
    
}

.hero-text{
    background-color: rgba(0, 0, 0, 0.6); 
    background: semi-transparent black;
    margin: 0 auto;
    margin-top: 250px;
    padding: 40px;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 40%;
    border-top: 5px solid rgb(109, 3, 125);
    max-width: 700px;
}

.hero-text h1 {
    font-size: 2.0rem;
    color: rgb(14, 205, 29);
    margin-top: 10px;
    margin-left: 10px ;
}

.hero-text p{
    margin-left: 10px ;
    margin-bottom: 15px;
}

.hero button{
    padding: 9px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    border: 2px solid rgb(14, 205, 29);
    border-radius: 20px;
    margin-left: 275px;
    margin-top: 10px;
    font-weight: 600;
}

.readmore-button { 
    text-decoration: none;
    color: rgb(198, 1, 1);
    margin-left: 250px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}
  
.readmore-button a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.readmore-button:hover {
     background-color: rgb(14, 205, 29); 
     color: white;
    transform: scale(1) 
}
  
/* Services Section */
.services {
    padding: 50px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.service-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    background-color: lightgrey;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
}
  
/* Footer Styles */

.footer {
    background-color: rgb(58, 3, 55);
    color: white;
    text-align: center;
    padding: 15px;
}
  
.footer-content p {
    margin: 0;
}
  
.footer-content{
    background-color: rgb(49, 2, 47); 
    background: semi-transparent black;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.087);
    margin: 0 auto;
    margin-top: 0 auto;
    padding: 100px;
    color: rgb(255, 255, 255);
    width: 80%;
    height: 70%;
    border-radius: 15px;
    border-top: 5px solid rgb(109, 3, 125);
    border: #f5f5f573 2px solid;
}


.social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* Style for Activities page starts here */

.top-section {
    background-color: rgba(0,32,80,255);
    height: 60vh;
    top: 0;
    padding: 40px;
    align-content: end;
}

.top-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.top-div-title {
    font-size: 70px;
    margin: 10px 0;
    font-family: serif;
    color: white;
}

.top-div-path {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

.top-div-path a, .top-div-path p {
    text-decoration: none;
    color: white;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.top-div-path a:hover {
    color: rgb(92, 81, 81);
}

.top-div-path :nth-child(2) {
    margin: 0 7px;
    color: grey;
}

.activities-text-title {
    font-size: 45px;
    color: rgba(22,82,127,255);
    font-weight: 500;
    font-family: Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    padding: 0 3px;
}

.activities-text-under {
    color: grey;
    font-size: 14px;
    font-family: Arial, sans-serif;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
}

.mid-section {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid-section img {
    padding: 70px 20px;
}

.activities-flexdiv-1 {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.activities-flexdiv-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities-flexdiv-2-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 25px;
    background-color: #f4f8fb;
    margin: 10px;
    width: 22.5vw;
}

.activities-flexdiv-2-container a {
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    font-family: sans-serif;
    color: black;
    width: max-content;
    text-decoration: none;
    border-bottom: 2px solid rgba(131,70,145,255);
}

.activities-flexdiv-2-container:hover {
    background-color: rgba(131,70,145,255);
    color: #f4f8fb !important;
    transition: ease-in-out 0.3s;
}

.activities-flexdiv-2-container:hover p {
    color: #f4f8fb !important;
}

.activities-flexdiv-2-container:hover a {
    color: #f4f8fb !important;
    text-decoration: none;
}

.act-01 {
    top: 0;
    height: 40vh;
}

.act-01 :first-child {
    word-spacing: 15px;
}

.act-02 {
    height: 33vh;
    align-content: center;
}

.act-03 {
    top: 0;
    height: 33vh;
}

.act-04 {
    height: 40vh;
}

.activities-flexdiv-2-container-title {
    font-size: 39px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgba(131,70,145,255);
    font-family: sans-serif;
}

.activities-flexdiv-2-container-nt {
    font-size: 14px;
    line-height: 20px;
    font-family: sans-serif;
    color: #8f877f;
}

.activities-footer {
    padding: 20px;
    bottom: 0;
}

.activities-footer p {
    font-size: 12px;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

.activities-footer p :nth-child(1) {
    font-weight: 500;
}

.activities-footer p :nth-child(2) {
    color: red;
}

/* Style for Activities page ends here */
